body{
  background: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.contenido{
  width: 80%;
  background-color: #1b6278;
  opacity: 0.9;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
.titulo{
  border-right: 1px solid white;
  color: white;
  padding-right: 1rem;
}
.cabecera{
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
}
.espacio{
  padding-top: 1rem;
}
.favoritos{
  padding-top: 2rem;
}
h6, h4, a, .subheader{
  color: #ff0068;
}
table tbody{
  background-color: #fff3d9;
}
